body{
    background-image: url(GreenSTAR1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 109vh;
}
